<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a class="header_links" href="/">Home</a>
      <%if session[:user_id]%>
        <a class="header_links" href="/logout">Logout</a>
      <%else%>
        <a class="header_links" href="/login">Login</a>
        <a class="header_links" href="/users/new">Create Account</a>
      <%end%>

    </header>
    <% flash.each do |name, msg| -%>
       <%= content_tag :div, msg, class: name %>
    <% end -%>

    <%= yield %>
  </body>
</html>
